{
  "plugins": [
    "transform-flow-strip-types",
    "istanbul"
  ],
  "presets": [
    "es2015",
    "react"
  ],
  "env": {
    "dev": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
